body {
  background: #333;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.thumbLink {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
}




.prevImageLink,
.nextImageLink,
.closeImageLink {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

.prevImageLink,
.nextImageLink {
  top: 30%;
  bottom: 30%;
  width: 20%;
}

.prevImageLink:hover,
.nextImageLink:hover {
  top: 30%;
  bottom: 30%;
  width: 20%;
  font-size: 220px;
}

.closeImageLink {
  top: 0;
  right: 0;
  width: 20%;
  height: 20%;
}

.prevImageLink span,
.nextImageLink span,
.closeImageLink span {
  background: black;
  color: white;
  font-size: 55px;
  opacity: 0.3;
  position: absolute;
  height: 25%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.prevImageLink:hover span,
.nextImageLink:hover span,
.closeImageLink:hover span {
  width: 100%;
  height: 100%;
  font-size: 220px;
}

.prevImageLink,
.prevImageLink span {
  left: 0;
}

.nextImageLink,
.nextImageLink span {
  right: 0;
}

.closeImageLink span {
  top: 0;
  right: 0;
}

.prevImageLink span:after {
  content: "\2039";
}

.nextImageLink span:after {
  content: "\203A";
}

.closeImageLink span:after {
  content: "\00D7";
}

